@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
   
</hgroup>



<section class="contact">
    <header>
        <h3>Zebin Xie</h3>
    </header>
    <p>
        <span class="label">Linkedin profile</span>
        <span><a href="https://www.linkedin.com/in/zebinxie">https://www.linkedin.com/in/zebinxie</a></span>
    </p>
    <p>
        <span class="label">Email:</span>
        <span><a href="mailto:zebin.xie@gmail.com">zebin.xie@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Address:</span>
        <span>7815 McCallum Blvd, Dallas, TX</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Gangzhi Mei</h3>
    </header>
    <p>
        <span class="label">Linkedin profile</span>
        <span><a href="https://www.linkedin.com/in/gzmei">https://www.linkedin.com/in/gzmei</a></span>
    </p>
    <p>
        <span class="label">Email:</span>
        <span><a href="mailto:koaaue@gmail.com">koaaue@gmail.com</a></span>
    </p>
    <p>
        <span class="label">Address:</span>
        <span>800 West Campbell Road, Dallas, TX</span>
    </p>
</section>