<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://koaaue-001-site1.myASP.NET</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>https://koaaue-001-site1.myASP.NET:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>koaaue-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>ifc\koaaue-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5013.myASP.NET;Initial Catalog=DB_9BB694_user;Persist Security Info=True;User ID=DB_9BB694_user_admin;Password=123456Utd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MvcApplication8.Models.UsersContext, MvcApplication8" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CarContext" Order="2" Enabled="False">
          <Destination Path="Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Administrator\Desktop\MvcApplication8\MvcApplication8\App_Data\CarContext-20150131162545.mdf;Integrated Security=True;Connect Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="MvcApplication8.Models.CarContext, MvcApplication8" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CarContext-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\v11.0;AttachDbFilename=C:\Users\Administrator\Desktop\MvcApplication8\MvcApplication8\App_Data\CarContext-20150131162545.mdf;Integrated Security=True;Connect Timeout=30</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5013.myASP.NET;Initial Catalog=DB_9BB694_user;Persist Security Info=True;User ID=DB_9BB694_user_admin;Password=123456Utd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>